@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: #343131;
}


.weather-app {
}
.weather-app__container {
}
.weather-app__logo {
}
.weather-app__forcast {
}
.forcast {
}
.forcast__current-day {
}
.current-day {
}
.current-day__time {
}
.current-day__city {
}
.current-day__temp {
}
.current-day__description {
}
.description-weather {
}
.description-weather__text {
}
.description-weather__icon {
}
.current-day__feels-like {
}
.weather-app__future-forecast {
}
.future-forecast {
}
.future-forecast__item {
}
.future-forecast__day {
}
.future-forecast__icon {
}
.future-forecast__day-temp {
}
.future-forecast__night-temp {
}
.weather-app__sidebar {
}
.sidebar-weather {
}
.sidebar-weather__search-form {
}
.sidebar-weather__search-input {
}
.sidebar-weather__search-btn {
}
.sidebar-weather__example-cities {
}
.sidebar-weather__map {
}






















#map {
	position: relative;
	width: 300px;
	height: 300px;
}

/* [class*="ymaps-copyrights-pane"] {
	display: none !important;
} */

[class*="ymaps-layers-pane"] {
	filter: grayscale(1);
}

/* #map ymaps {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
} */